<p>This page is being broadcasted from app --> views --> questions --> answer.html.erb</p>

<p><%= @question %></p>
<h3><%= @response %></h3>

  <%= link_to 'Ask again', ask_path, class: 'btn btn-primary'  %>
